:root {
    --couleur-principale: #2c7be5;
    --couleur-secondaire: #38c172;
    --couleur-erreur: #e3342f;
    --font-clair: #f8f9fa;
    --texte-fonce: #333;
    

}


body {
    background-color: var(--font-clair);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 100px;
    margin-top: 5px;
    margin: 0;
    color: var(--texte-fonce);
    line-height: 1.6;
    
}
h1 {
    color: darkblue;
    margin-bottom: 10px;
}
section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    margin-top: 30px;
    box-shadow: 0 2px 5px
    rgba(0, 0, 0, 1)
    ;
}
section h2 {
    color: #1e4ed8;
    margin-bottom: 15px;
    font-size: 24px;
}
section p {
    color: #333333;
    line-height: 1.6;
    font-size: 16px;
}
button {
    background-color: #1e4ed8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background-color: #3b82f6;
}
section ul {
    text-align: left;
    margin-left: 20px;
    color: #333333;
    line-height: 1.5;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section form input, 
section form textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid#cccccc;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;

}
section form button {
    background-color: #3b82f6;
}
#contactform {
    max-width: 500px;
    margin: 50px auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 5px 15px
    rgba(0, 0, 0, 1);
}
label {
   display: block; 
   margin-bottom: 5px;
   font-weight: bold;
}
input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}
input :focus, textarea:focus {
outline: none;
border-color: var(--couleur-principale);
}
nav {
    background-color: #1e4ed8;
    padding: 15px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 30px;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}
#formmessage {
    margin-top: 10px;
    font-weight: bold;
} 
#formmessage.succes {
    color: green;
}
#formmessage.erreur {
    color: red;
}
small {
    color: red;
    display: block;
    margin-bottom: 10px;
}



/* ===========================
   Responsive pour mobile
=========================== */
@media (max-width: 600px) {
    #contactForm {
        margin: 20px;
        padding: 20px;
    }

    input, textarea, button {
        font-size: 14px;
        padding: 10px;
    }

    h1, h2 {
        font-size: 1.5em;
    }

    button {
        padding: 15px;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}

/* Responsive pour mobile */

