
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#barre-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-bottom: 2px solid deepskyblue;
}

#titre-logo {
    margin: 0;
    color: deepskyblue;
}

#slogan-logo {
    margin: 0;
    font-size: 11px;
    color: gray;
}

#menu-principal a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: 15px;
}

#bouton-don {
    background-color: deepskyblue;
    color: white !important;
    padding: 8px 15px;
    border-radius: 20px;
}

#bouton-mobile {
    display: none;
    background: none;
    border: none;
    color: deepskyblue;
    font-size: 25px;
    cursor: pointer;
}

/* Version pour Téléphone */
@media (max-width: 768px) {
    #bouton-mobile {
        display: block;
    }

    #menu-principal {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: white;
        text-align: center;
        padding-bottom: 20px;
        border-bottom: 1px solid lightgray;
    }

    /* Activé par le JavaScript */
    #menu-principal.affiche {
        display: flex;
    }

    #menu-principal a {
        margin: 10px 0;
    }
}








