# Déploiement Automatique sur Firebase Hosting

name: Déploiement sur Firebase Hosting

on:
  push:
    branches:
      - main  # Se déclenche sur un push sur la branche 'main'

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest  # Utilise une machine virtuelle Ubuntu

    steps:
      - name: 1. Récupérer le code
        uses: actions/checkout@v2 # Action pour cloner le dépôt

      - name: 2. Déployer sur Firebase Hosting
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '''${{ secrets.GITHUB_TOKEN }}''' # Token pour l'authentification avec le dépôt
          firebaseServiceAccount: '''${{ secrets.FIREBASE_SERVICE_ACCOUNT_EDUCA_PSY_A474A }}''' # Clé de service Firebase
          channelId: live # Déploie sur le canal "live" (production)
          projectId: educa-psy-a474a # ID de votre projet Firebase